<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
    <listeners>
        <listener class-name="com.mystore.utils.Reporting">
        </listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="Test">
        <classes>
            <class name="com.mystore.testCases.TC_Login">
            </class>
        </classes>
    </test>
</suite>